#full-card {
    width: 45%;
}

#top-border {
    position: relative;
    width: 90%;
    height: 6px;
    border-radius: 2px;
    background-color: #3eb7ae;
    z-index: 5;
}

#homeCard {
    width: 80%;
    height: 60%;
    margin-bottom: 5%;
    position: relative;
    top: -6px;
    padding: 5%;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 30px 60px 0 rgba(46, 59, 85, 0.06);
    z-index: 0;
}

#homeCard h4
{
    margin-top: 0px;
    margin-bottom: 0px;
    color: #232e45;
    line-height: 33px;
}

#homeCard #list {
    margin-bottom: 15%;
}

#homeCard #list #point 
{
    position: relative;
    margin-top: 14px;
    padding-left: 22px;
    color: #697792;
    font-size: 16px;
    line-height: 21px;
    font-weight: 500;
}


@media (max-width: 1188px) {
    #homeCard #list #point{ 
        font-size: 12px;
    }
}
